@import "base/color-list";
@import "base/mixin-center";
@import "base/extend-font";

$colorPrincipal: #4f89c0;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body[data-aos-duration='4000'] [data-aos],
  [data-aos][data-aos][data-aos-duration='4000'] {
    transition-duration: 4000ms;
  }

.menuTotal{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 6.46fr 0.3fr 0.3fr;
    grid-template-areas: "menuRec logo search"
                         "line1 line1 line1"
                         "line2 line2 line2";
    @include center;
    margin-top: 1rem;
    .logo{
        grid-area: logo;
    }
    .menu{
        grid-area: menuRec;
        .hamburguer{
            display: none;
            cursor: pointer;
            .bar{
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                transition: all 0.3s ease-in-out;
                background-color: nth($colors ,1);
            }
        }
        .mainMenu{
            display: flex;
            .menuList{
                list-style: none;
                margin: 2rem;
                @include fontStyle1;
                line-height: 27px; 
                color: nth($colors ,1);
                a{
                    text-decoration: none;
                    color: nth($colors ,1);
                }
            }
            .mediaIconsMenu{
                display: none;
            }
        }     
    }
    .search{
        grid-area: search;
        .searchBar{
            width: 80%;
            background-color: nth($colors ,3);
            display: flex;
            align-items: center;
            border-radius: 25px;
            padding: 5px 20px;
            input{
                background-color: transparent;
                border: 0;
                outline: none;
                @include fontStyle1;
                line-height: 27px;
                width: 90%;
                height: auto;
            }
            button{
                border: 0;
                outline: none;
                cursor: pointer;
                background-color: nth($colors ,3);
                img{
                    width: 80%;
                }
            }
        }
    }
    .line1{
        width: 93%;
        grid-area: line1;
        border: 1px solid nth($colors ,2);
        margin-top: 1rem; 
    }
    
    .line2{
        width: 93%;
        grid-area: line2;
        border: 1px solid nth($colors ,2);
        margin-top: 0.25rem;
    }
}

/*index main*/

main{
    .carruselSize{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        .carousel-inner > .carousel-item > img { 
            height: 40rem;
            object-fit: cover;
        }
    }
    .underImage{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 5rem;
        gap: 1rem;
        span{
            font-style: normal;
            font-weight: 550;
            font-size: 1.4rem;
            line-height: 30px;
            color: nth($colors ,1);
        }
        img{
            height: 3rem;
            width: 3rem;
        }
        .line6, .line7{
            height: 60px;
            border: 1px solid nth($colors ,2);
        }
    }
    .appointments{
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        grid-template-rows: 0.5fr 0.1fr 0.1fr 0.5fr;
        grid-template-areas: "schedule schedule"
                             "line3 line3"
                             "appText appText"
                             "request appBottom";
        row-gap: 0.4rem;
        margin-left: 4rem;
        .appointmentsTittle{
            grid-area: schedule;
            @include fontStyle;
            line-height: 30px;
        }
        .line3{
            grid-area: line3;
            border: 1px solid nth($colors ,2);
            margin-top: 0.2rem; 
            margin-right: 4.5%;  
        }
        .appointmentsText{
            grid-area: appText;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: nth($colors ,5);
        }
        .appointmentsTextReq{
            grid-area: request;
            @extend %font;
            line-height: 24px;
            color: nth($colors ,1);
        }
        .appointmentsTextUrl{
            grid-area: appBottom;
        }
    }
    .servAndStudies{
        @include fontStyle;
        margin-left: 4rem;
        margin-top: 5rem;
        margin-bottom: 0.4rem;
    }
    .line4{
        margin-right: 4%;  
        border: 1px solid nth($colors ,2);
        margin-top: 0.2rem; 
        margin-bottom: 2rem;
        margin-left: 4rem;
    }
    .imageStudies{
        display: grid;
        grid-template-areas: "imgStudies1 imgStudies2 imgStudies3"
                             "studiesDesc1 studiesDesc2 studiesDesc3";
        column-gap: 2rem;
        margin-right: 2.1%;
        margin-left: 3.3%;
        a img{
            height: 22rem;
            width: 34rem;
            object-fit: cover;
        }
        a .imgStudies1{
            grid-area: imgStudies1;
        }
        a .imgStudies2{
            grid-area: imgStudies2;
        }
        a .imgStudies3{
            grid-area: imgStudies3;
        }
        .studiesDesc1{
            grid-area: studiesDesc1;
        }
        
        .studiesDesc2{
            grid-area: studiesDesc2;
        }
        
        .studiesDesc3{
            grid-area: studiesDesc3;
        }
        .studiesDesc1, .studiesDesc2, .studiesDesc3{
            font-style: normal;
            font-weight: 550;
            font-size: 22px;
            line-height: 30px;
            color: white;
            text-align: center;
            background-color: $colorPrincipal;
            width: 34rem;
        }
    }
    .exam{
        @include fontStyle;
        line-height: 30px;
        margin-left: 4rem;
        margin-top: 3rem;
    }
    .imageExams {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.1fr;
        grid-template-areas: "imgExams1 imgExams2 imgExams3"
                             "examsDesc1 examsDesc2 examsDesc3";
        column-gap: 2rem;
        margin-right: 2.1%;
        margin-left: 3.3%;
        margin-top: 3rem;
        .imageExams1{
            grid-area: imgExams1;
        }
        
        .imgExams2{
            grid-area: imgExams2;
        }
        
        .imgExams3{
            grid-area: imgExams3;
        }
        
        .examsDesc1{
            grid-area: examsDesc1;
        }
        
        .examsDesc2{
            grid-area: examsDesc2;
        }
        
        .examsDesc3{
            grid-area: examsDesc3;
        }
        a img{
            height: 22rem;
            width: 34rem;
            object-fit: cover;
        }
        .examsDesc1, .examsDesc2, .examsDesc3{
            font-style: normal;
            font-weight: 550;
            font-size: 22px;
            line-height: 30px;
            color: nth($colors ,4);
            text-align: center;
            background-color: $colorPrincipal;
            width: 34rem; 
        }
    }
    .medRecords{
        h2{
            @include fontStyle;
            line-height: 30px;
            margin-left: 4rem;
            margin-bottom: 0.4rem;
            margin-top: 5rem;
        }
        .line5{
            margin-right: 4%;  
            margin-left: 4rem;
            border: 1px solid nth($colors ,2);
            margin-bottom: 0.4rem;
        }
        p{
            @extend %font;
            line-height: 24px;
            color: nth($colors ,5);
            margin-left: 4rem;
        }
        a img{
            margin-left: 4rem;
            margin-top: 1rem;
            margin-bottom: 4rem;
        }
    }
}

/*main footer*/

footer{
    section{
        background-color: nth($colors ,6);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "menu institutional aboutUs contact followUs";
        padding-left: 7rem;
        padding-top: 2rem;
        padding-bottom: 9rem; 
        .footerMenu ul{
            display: flex;
            flex-flow: column;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: nth($colors ,4);
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: nth($colors ,4);
                }
            }
            .footerMenuTop{
                font-weight: 900;
                color: $colorPrincipal;
            }
        }
        .footerInstitutional ul{
            display: flex;
            flex-flow: column;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: nth($colors ,4);
            li{
                list-style: none; 
                a{
                    text-decoration: none;
                    color: nth($colors ,4);
                }  
            }
            .footerInstitutionalTop{
                font-weight: 900;
                color: $colorPrincipal;
            }
        }
        .footerAboutUs ul{
            display: flex;
            flex-flow: column;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: nth($colors ,4);
            li{
                list-style: none;  
                a{
                    text-decoration: none;
                    color: nth($colors ,4);
                }
            }
            .footerAboutUsTop{
                font-weight: 900;
                color: $colorPrincipal;
             }
        }
        .footerContact ul{
            display: flex;
            flex-flow: column;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: nth($colors ,4);
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: nth($colors ,4);
                }  
            }
            .footerContactTop{
                font-weight: 900;
                color: $colorPrincipal;
            }
        }
        .footerFollow ul{
            display: flex;
            flex-flow: column;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: nth($colors ,4);
            gap: 0.2rem;
            li{
                list-style: none;  
                a{
                    text-decoration: none;
                    color: nth($colors ,4);
                    margin: 5px;
                } 
            }
            .footerFollowTop{
                font-weight: 900;
                color: $colorPrincipal;
            }
        }   
    }
    .rights{
        display: flex;
        background-color: nth($colors ,6);
        color: $colorPrincipal;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        padding-left: 2rem;
        p {
            margin-left: 0.3rem;
            margin-bottom: 0.5rem;
        }
    }
}

/*END INDEX*/



/*NEWS*/

section{
    .topTopicTittle{
        @include fontStyle;
        line-height: 30px;
        color: nth($colors ,1);
        margin-left: 4rem;
        margin-top: 4rem;
    }

    .line3News{
        margin-right: 4%;
        margin-left: 4rem;
        border: 1px solid nth($colors ,2);
        margin-bottom: 2rem;
    }

    .topTopicsRow{
        display: grid;
        grid-template-columns: repeat(1fr);
        grid-template-rows: auto;
        grid-template-areas: "tittle1 tittle2 tittle3";
        column-gap: 7%;
        padding-left: 2%;
        padding-right: 2%;
        .firstTopic{
            grid-area: tittle1;
            padding-left: 4rem;
        }
        
        .secondTopic{
            grid-area: tittle2;
        }
        
        .thirdTopic{
            grid-area: tittle3;
            padding-right: 4rem;
        }
        div ul {
            li{
                list-style: none;
            }
            .topTopicsRowFirstTittle, .topTopicsRowSecondTittle, .topTopicsRowThirdTittle{
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                color: nth($colors ,5);
                margin-bottom: 5px;
            }
            .topTopicsRowFirstText, .topTopicsRowSecondText, .topTopicsRowThirdText{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: nth($colors ,5);
                margin-bottom: 20px;
                margin-top: 20px;
                text-align: justify;
            }
            .topTopicsRowFirstRead, .topTopicsRowSecondRead, .topTopicsRowThirdRead{
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: nth($colors ,5);
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }
        
    }

    .covidTittle{
        @include fontStyle;
        line-height: 30px;
        color: nth($colors ,1);
        margin-left: 4rem;
        margin-top: 4rem;
    }

    .line4News{
        margin-right: 4%;
        margin-left: 4rem;
        border: 1px solid nth($colors ,2);
        margin-bottom: 2rem;
    }
    .covidRow{
        display: grid;
        grid-template-columns: repeat(1fr);
        grid-template-rows: auto;
        grid-template-areas: "tittleCovid1 tittleCovid2 tittleCovid3";
        column-gap: 7%;
        padding-left: 2%;
        padding-right: 2%;
        .firstCovTopic{
            grid-area: tittleCovid1;
            padding-left: 4rem;
        }
        
        .secondCovTopic{
            grid-area: tittleCovid2;
        }
        
        .thirdCovTopic{
            grid-area: tittleCovid3;
            padding-right: 4rem;
        }
        div ul {
            li{
                list-style: none;
            }
            .covidRowFirstTittle, .covidRowSecondTittle, .covidRowThirdTittle{
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                color: nth($colors ,5);
                margin-bottom: 5px;
            }
            
            .covidRowFirstText, .covidRowSecondText, .covidRowThirdText{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: nth($colors ,5);
                margin-bottom: 20px;
                margin-top: 20px;
                text-align: justify;
            }
            
            .covidRowFirstRead, .covidRowSecondRead, .covidRowThirdRead{
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: nth($colors ,5);
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }
    }
}
.appointmentsNews {
    h2{
        @include fontStyle;
        line-height: 30px;
        color: nth($colors ,1);
        margin-left: 4rem;
        margin-top: 4rem;
    }
    .line5News{
        margin-right: 4%;
        margin-left: 4rem;
        border: 1px solid nth($colors ,2);
        margin-bottom: 1rem;
    }
    p{
        width: 770px;
        height: 44px;
        @extend %font;
        line-height: 24px;
        color: nth($colors ,5);
        margin-left: 4rem;
    }
    a img{
        margin-left: 4rem;
        margin-bottom: 4rem;
    }
}

/*END NEWS*/

/*RESOURCES*/

main{
    .resoursesTittle{
        @include fontStyle;
        line-height: 30px;
        color: nth($colors ,4);
        text-align: center;
        background-color: $colorPrincipal;
        box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
        padding: 25px;
        border-radius: 25px;
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 2rem;
    }
    .firstRowResourses{
        display: grid;
        grid-template-columns: 2fr 0.8fr 0.8fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: "imagen1Res text1Res text2Res imagen2Res";
        justify-items: center;
        margin-top: 6rem;
        .imagen1Res{
            grid-area: imagen1Res;
            width: 90%;
        }
        
        .imagen2Res{
            object-fit: cover;
            grid-area: imagen2Res;
            width: 90%;
        }
        
        .text1Res{
            grid-area: text1Res;
        }
        
        .text2Res{
            grid-area: text2Res;
        }
        div ul{ 
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: nth($colors ,5); 
            li{
                margin-bottom: 0.5rem;
            }
        }
    }
    .secondRowResourses{
        display: grid;
        grid-template-columns: 2fr 0.8fr 0.8fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: "imagen3Res text3Res text4Res imagen4Res";
        justify-items: center;
        margin-top: 6rem;
        .imagen3Res{
            object-fit: cover;
            grid-area: imagen3Res;
            width: 90%;
        }
        
        .imagen4Res{
            object-fit: cover;
            grid-area: imagen4Res;
            width: 90%;
        }
        
        .text3Res{
            grid-area: text3Res;
        }
        
        .text4Res{
            grid-area: text4Res;
        }
        div ul{   
            margin-left: 40px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: nth($colors ,5);
            li{
                margin-bottom: 0.5rem;
            }
        }
    }
    .assistanceTittle{
        @include fontStyle;
        line-height: 30px;
        color: nth($colors ,1);
        margin-left: 4rem;
        margin-top: 4rem;
    }
    
    .line3Resourses{
        width: 92.5%;
        margin-left: 4rem;
        border: 1px solid nth($colors ,2);
    }
    .textResourses{
        height: 44px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: nth($colors ,5);
        margin-left: 4rem;
        margin-top: 0.5rem;
    }
    form{
        .formBoxResourses{
            width: 800px;
            height: 700px;
            background-color: $colorPrincipal;
            margin: 7% auto;
            padding: 50px 0;
            color: nth($colors ,4);
            box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
            a{
                text-decoration: none;
            }
            .inputBoxRes{
                margin-left: 100px;
                margin-bottom: 30px;
                width: 80%;
                padding-top: 10px;
                padding-bottom: 5px;
                padding-left: 15px;
                input{
                    width: 90%;
                    border: none;
                    outline: none;
                    padding: 10px;
                    border-radius: 25px;
                    text-align: center;
                }
            }
            .inputBoxRes3{
                margin-left: 100px;
                margin-bottom: 30px;
                width: 80%;
                padding-top: 10px;
                padding-bottom: 5px;
                padding-left: 15px;
                input{
                    width: 90%;
                    border: none;
                    outline: none;
                    padding: 50px;
                    border-radius: 25px;
                    text-align: center;
                }
            }
            .buttonPosition{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

/*End Resources*/

/*Appointments*/

main{
    div{
        .requestAppointment{
            display: flex;
            flex-direction: column;
            background-color: nth($colors ,3);
            align-items: center;
            gap: 40px;
            padding: 5rem;
            border-radius: 25px;
            li{
                list-style: none;
                .buttonSize{
                    padding:0.6rem 5rem;
                }
                p{
                    text-align: justify;
                    font-style: normal;
                    font-weight: 1000;
                    font-size: 16px;
                    line-height: 24px;
                    color: nth($colors ,5);
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
            }
            .requestAppointmentTittle{
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                color: nth($colors ,1);
                width: 20rem;
                text-align: center;
            }
            .line3Appointments{
                width: 100%;
                border: 1px solid #141414;
            }
        }
        .boxRescheduleAppointment{
            display: flex;
            flex-direction: column;
            background-color: nth($colors ,3);
            align-items: center;
            gap: 40px;
            padding: 5rem;
            border-radius: 25px;
            li{
                list-style: none;
                .buttonSize{
                    padding:0.6rem 5rem;
                }
                .imageReschedule{
                    width: 110%;
                    padding-bottom: 20px;
                }
                p{
                    text-align: justify;
                    font-style: normal;
                    font-weight: 1000;
                    font-size: 16px;
                    line-height: 24px;
                    color: nth($colors ,5);
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
            }
            .rescheduleAppointmentTittle{
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                color: nth($colors ,1);
                width: 20rem;
                text-align: center;
            }
            .line4Appointments{
                width: 100%;
                border: 1px solid #141414;
            }
        }
    }
}

/*END APPOINTMENTS*/

/*MEDICAL RECORDS*/

main{
    .formBox{
        width: 800px;
        height: 400px;
        background-color: $colorPrincipal;
        margin: 12% auto;
        padding: 50px;
        color: nth($colors ,4);
        box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        h1{
            text-align: center;
            margin-bottom: 40px;
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 30px;
            color: nth($colors ,1);
        }
        .inputBox{
            margin-bottom: 30px;
            padding-top: 10px;
            padding-bottom: 5px;
            padding-left: 10%;
            margin-right: 10%;
            input{
                width: 100%;
                border: none;
                outline: none;
                padding: 2%;
                border-radius: 25px;
                text-align: center;
            }
        }
        .buttonPosition{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@import "base/media-queries";